.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eee;
    color: #3a3a3a;
    font-size: 35px;
    margin-top: 60px;
    height: 600px;
    width: 97%;
    border-radius: 8px;
}